:root {
    font-size: 29px;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.calendar {
    position: absolute;
    width: 800px;
    height: 1795px;
    background: rgba(42, 46, 65, 0.7);
}

.calendar_head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 87px;
}

.calendar_pointer_before {
    border: 2px;
    border-left-style: solid;
    border-bottom-style: solid;
    width: 18px;
    height: 18px;
    border-color: #FFF;
    transform: rotate(45deg);
}

.calendar_data {
    position: absolute;
    width: 320px;
    height: 43px;

    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    text-align: center;

    color: #FFFFFF;
}

.calendar_pointer_after {
    border: 2px;
    border-top-style: solid;
    border-right-style: solid;
    width: 18px;
    height: 18px;
    border-color: #FFF;
    transform: rotate(45deg);
}

.calendar_separation {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 10%;
    margin-top: 85px;
}

.calendar_separator_black {
    width: 599px;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
}

.calendar_separator_whight {
    width: 599px;
    height: 2px;
    background-color: rgba(255,255,255,1);
}

.calendar_main_title{
    display: flex;
    flex-direction: row;
    margin: 65px 102px 0 99px;
    padding: 0;
}

.calendar_main_title li{
    color: white;
    opacity: 60.16%;
    font-size: 0.8966rem;
    text-align: center;
    list-style-type: none;
    flex:0 0 86px;
}

.calendar_main_numbers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 60px 102px 0 99px;
    padding: 0;
    list-style-position: inside;
    list-style-type: none;
    row-gap: 42px;
    column-gap: 5px;
    counter-reset: calendar_num;
}

.calendar_main_numbers li {
    display:flex;
    justify-content: center;
    color:white;
    width: 80px;
    height: 80px;
    flex-basis: 80px;
    }

.calendar_main_numbers ::before{
    display: flex;
    align-items: center;
    counter-increment: calendar_num;
    content: counter(calendar_num) " ";
    }

.calendar_main_numbers :nth-child(32n){
    counter-reset: calendar_num -1;
    counter-increment: calendar_num;
    content: counter(calendar_num) " ";
    }

.calendar_main_numbers :nth-child(n+32){
    opacity: 49.63%;
}

.calendar_main_numbers :nth-child(15){
    border-radius: 40px;
    background:#3C82F9;
}
.calendar_main_numbers :nth-child(16){
    border-radius: 40px;
    background:#3C82F9;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: 105px 0 0 99px;
    font-size: 0.8966rem;
    color:white
}

.buttons_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 28px;
    margin: 42px 0 0 0;
}

.buttons button {
    width: 285px;
    height: 80px;
    font-size: 0.84rem;
    border: none;
    border-radius: 12px;
    color:white;
}

.buttons button:nth-child(1){
    background-color:#8576ED
}

.buttons button:nth-child(2){
    background-color:#F39946
}

.buttons button:nth-child(3){
    background-color:#FF467E
}