.first {
    display: flex;
    flex-wrap: wrap;
}

.first .colored {
    flex: 0 0 50%;
}

.second {
    display: flex;
}

.second .colored {
    flex: 0 0 50%;
}

.third, .fourth, .fifth {
    display: block;
}

@media (min-width: 768px){
   .fourth {
        display: flex;
        flex-wrap: wrap;
   } 

   .fourth .colored {
        flex: 0 0 50%;
   }

   .fourth .colored:last-child {
        flex: 0 0 100%;
   }

   .fifth {
        display: flex;
        flex-wrap: wrap;
    }  

    .fifth .colored {
        flex: 0 0 50%;
    }

    .fifth .colored:last-child {
        flex: 0 0 100%;
    }

}

@media (min-width: 960px){
    .third{
        display: flex;
    }

    .fourth {
        flex-wrap: nowrap;
    }

    .fourth .colored.colored {
        flex: 0 0 35%;
   }

   .fourth .colored:nth-child(2) {
        flex: 0 0 30%;
   }

}

@media (min-width: 1200px){
    .third{
        flex-wrap: wrap;
    }

    .third .colored{
        flex: 0 0 50%;
    }

    .third .colored:last-child{
        flex: 0 0 100%;
    }

    .fifth{
        justify-content: center;
    }

    .fifth .colored{
        flex: 0 0 33%;
    }

    .fifth .colored.colored:last-child {
        flex: 0 0 33%;
    }
}

@media (min-width: 1800px){
    .first .colored{
        flex-basis: 25%;
    }

    .third .colored.colored{
        flex: 0 0 25%;
    }

    .fourth .colored.colored{
        flex: 0 0 25%;
    }

    .fourth .colored:last-child{
        flex: 0 0 50%;
    }

    .fifth .colored.colored.colored{
        flex: 0 0 20%;
    }
}